#Menu {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

button {
    width: 150px;
    height: 75px;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

text {
    font-size: 40px;
    font: "OpenSans-Regular.ttf";
    color: white;
}
